span.adjektiv {
    font-weight: bold;
//    text-decoration: underline;
}

span.adjektiv:empty {
  width: 0px;
  background: pink;
  display: inline-block;

}

#textFont {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  letter-spacing: -1.2px;
  word-spacing: -0.6px;
  color: #000000;
  font-weight: 400;
}

#headerFont {
  font-family: "Courier New", Courier, monospace;
}

br {
    line-height: 150%;
 }

#button-keydown{
  line-height: 300%;
}
